mixin renderConferences(conferences)
  each conf in conferences
    div.col-sm-6.col-md-4
      div.card
        div.logo
          img(src=conf.logo)
        div.title 
          a(href='/conference/'+conf.id)  #{conf.title}
        div
          p.date.text-right #{conf.startDate}
          p.desc #{conf.description}
        div.venue.row
          .text-left.col-xs-6 #{conf.venue}			
          .text-right.col-xs-6 #{conf.state}
        div.venue.row
          .text-left.col-xs-6 #{conf.city}
          .text-right.col-xs-6 #{conf.country}		  
