﻿#footer
  .container.text-center
   

    div © 2014 ConfAssist, Inc. 
     |  ❄    
     a(href='/contact') Contact
     |  ❄   
     a(href='/term') Terms & Condition
     |  ❄  
     a(href='/privatepolicy') Privacy Policy
    
   