.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(href='/')
        img(src="/img/confassist.png" alt="logo")
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li 
            a(href='/user/account') Dashboard
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}' onerror="this.src='/img/default_user.png'")
              else
                img.profile-image(src='#{user.gravatar(60)}' onerror="this.src='/img/default_user.png'")
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/create')
                i.fa.fa-magic
                |  Create Conference
              li.divider
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout