.card
  width 100%
  height 160px
  background  #efefef
  border 1px solid #bbb
  padding  5px
  border-radius 20px
  margin-bottom 20px 
  overflow-x hidden
  overflow-y hidden

.card .title
  font-size 1.5em
  position absolute
  left 100px
  top 5px
  margin-bottom 0px
  width 200px
  max-width 200px
  height 60px
  max-height 60px
  overflow hidden
  text-overflow ellipsis

.card .date
  margin 0px 0px 0px 0px
  padding 0px 0px 0px 0px
  width 200px
  max-width 200px
  height 20px
  max-height 20px
  overflow hidden
  text-overflow ellipsis
  margin-left 40px
  margin-top 0px

.card .logo
  padding 0px
  height 70px
  width 70px

.card .logo img
  max-width 100%
  max-height 100% 
  vertical-align middle
  border 0px

.peopleData
  text-indent 2px
  margin-left 2px
  float 1eft
.des
  margin 3px 0


.desc
  font-size 1em
  margin 0px 0px 0px 0px
  max-width 280px
  max-height 20px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  
.style-desc
  font-size 1em
  margin-left 20px

.venue
  margin 5px 0px 0px 5px
  height 20px
  max-height 20px
  margin-bottom 0em
  margin-top 0.0em
  
hr
 top 0px
 left 10px
 width 100%
 margin 10px