html, body
  height 100%
  width 100%
  padding 0px
  margin 0px

body
  padding-top 60px
  margin-right 0px
  margin-left 0px
  margin-top 0px
  
#header
  background #212530
  color #eee
  position relative
  left 0px
  width 100%
  
#wrap
  min-height 100%
  height auto !important
  height 100%
  /* Negative indent footer by its height */
  margin 0 auto -100px
  /* Pad bottom by footer height + (optional) extra spacing */
  padding 0 0 140px


#footer
  font-size 12px
  padding-top 40px
  padding-bottom 40px
  height 100px
  
.navbar-nav .profile-image
  width 30px
  height 30px
  margin -15px 15px -15px 0

.text-right
  text-align right
  
.logo
  padding 0px
  margin 0px
  height 45px

.logo img
	height 50px

// Social Buttons
// -------------------------

.btn-social
  border-radius 2px


// Font Awesome
// -------------------------

[class^="fa-"],
[class*="fa-"]
  margin-right 5px


// API Examples
// -------------------------

.thumb
  padding-left 0 !important
  padding-right 0 !important


.thumb img
  margin-bottom 5px
  margin-right 5px
  opacity 0.2
  transition opacity 0.2s


.facebook-caption
  position absolute
  background-color rgba(0, 0, 0, 0.5)
  font-size 12px
  color #fff
  padding 3px
  bottom 25px
  
//Common Conference Styles
//-----------------

.confLogo
  margin-top 20px
  max-height 100%
  max-width 100%
  margin-right 10px
  margin-bottom 10px

.speakerPhoto
  margin-top 20px
  max-height 100%
  max-width 100%
  border-radius 100%
  border 1px solid #555
  
.bottom
  vertical-align left
.speakerCard
  width: 100%
  max-width 240px
  min-height 300px
  background-color #efefef
  border 1px solid #CAC3C3
  box-shadow 4px 4px 15px #457898

.grey
  color #999
  
h2.page-header
  margin-top 20px
  
.dashboard
  background-color: #FFFFFF
  border-color: #666666
  border-image: none
  border-left: 1px solid #666666
  border-right: 1px solid #666666
  border-style: solid
  border-width: 8px 1px 5px
  box-shadow: 0 0 8px #A8A091
  padding: 3em 3em
  width: 90%
  margin: 0 auto
  max-width: 780px
  min-height: 500px
  position: center
  padding-top: 25px
  padding-bottom: 25px
  padding-right: 50px
  padding-left: 50px
