extends layout
block vars
  if agenda._id
      - title = 'Editing: ' + agenda.title;
  else
      - title = 'Create Agenda ';

block conf_header
  include conference_header
  


block content
  
  form.form-horizontal(role="form" name="createAgenda" method="post")
    input(type='hidden' name='_csrf' value=_csrf)  
    
    h2.page-header Please Fill Agenda Detail
  
    .form-group
      label.col-sm-3.control-label(for='title') Title :
      div.col-sm-9.col-md-6
        input#title.form-control(type="text" name="title" placeholder='Mention title of this talk' value=agenda.title maxlength=80)


    .form-group
      label.col-sm-3.control-label(for='abstract') Abstract :
      div.col-sm-9.col-md-6
        textArea#abstract.form-control(name="abstractOfTalk" placeholder='Describe this talk' maxlength=2000) #{agenda.abstractOfTalk}

    .form-group
      label.col-sm-3.control-label(for='venue') Venue :
      div.col-sm-9.col-md-6
        input#venue.form-control(name="venue" placeholder="Where is it going to be held?" value=agenda.venue maxlength=100)

    .form-group
      label.col-sm-3.control-label(for='startTime') Start Time :
      div.col-sm-9.col-md-6
        div#startTimePicker.input-group.date(data-date-format="YYYY/MM/DD HH:mm a")
          input#startTime.form-control(type="text" name="startTime" readonly)
          span.input-group-addon
            span.fa.fa-calendar

    .form-group
      label.col-sm-3.control-label(for='duration') Duration :
      div.col-sm-9.col-md-6
        div.col-xs-6.row
          input#duration.form-control(name="duration" type="number" value=agenda.duration min="5" max="300") 
          .span.grey.small Number of minutes (Minimum 5 minutes, Maximum 300 minutes.)
    .form-group
      .page-header Speaker detail

    .form-group
      label.col-sm-3.control-label(for='speakerName') Name :
      div.col-sm-9.col-md-6
        input#speakerName.form-control(type="text" name="speakerName" placeholder="Mention Speaker Name." value=agenda.speaker[0].speakerName maxlength=50)

    .form-group
      label.col-sm-3.control-label(for='tagLine') Tag Line :
      div.col-sm-9.col-md-6
        input#tagLine.form-control(type="text" name="tagLine" placeholder="Tag line of speaker" value=agenda.speaker[0].tagLine maxlength=100)

    .form-group
      label.col-sm-3.control-label(for='bio') Description :
      div.col-sm-9.col-md-6
        input#bio.form-control(type="text" name="bio" placeholder="Mention designation." value=agenda.speaker[0].bio maxlength=300)
        .span.grey.small Example: Manager @ HardSoft

    .form-group
      label.col-sm-3.control-label(for='photo') Photo :
      div.col-sm-9.col-md-6
        input#photo.form-control(type="text" name="photo" placeholder="Enter speaker image URL" value=agenda.speaker[0].photo)

    .form-group
      div.col-sm-offset-3.col-sm-9
        input.btn.btn-success(type="submit" value="Save" name="save")
        input.btn.btn-info(type="submit" value="Save and Add New" name="saveAndAdd")
    
   script.
    $('input[maxlength]').maxlength({
      alwaysShow: false,
      threshold: 40
    });
    $('textarea').maxlength({
      alwaysShow: true
    });
    $(function () {
      $('#startTimePicker').datetimepicker({
          icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-arrow-up",
              down: "fa fa-arrow-down"
          },
          pickTime: true
      });
    });


