extends layout

block vars
 - title = agenda.title ;

block head_css
  != css('home')

block conf_header
  include conference_header

block content
  div.row
    if (user && conf.creator === user.email)
      div.col-sm-4
        
        a.col-xs-2.btn.btn-success(href='/agenda/'+agenda._id+'/edit').fa.fa-edit
        div
          form.form-horizontal(role="form" name="deleteAgenda" method="post")
            input(type='hidden' name='_csrf' value=_csrf)
            .form-group
              button#delete.col-xs-2.btn.btn-danger.fa.fa-trash-o
              //console.log("1")
  div.col-sm-8
    .row
      h3.col-sm-12 #{agenda.title}
    .row
      div.col-sm-6
        | Starts at: #{moment(agenda.startTime).format("hh:mm A, MMMM DD, YYYY")}
      div.col-sm-3 #{agenda.duration} minutes
      div.col-sm-2.text-right Venue:
    .row
      div.col-sm-7 By #{agenda.speaker[0].speakerName}
      div.col-sm-4.text-right #{agenda.venue}
    .row
      h5.col-sm-11 #{agenda.abstractOfTalk}
      //console.log("2")
  div.col-sm-4
    .row
      
      each ppl in agenda.speaker
        
        .col-sm-12.speakerCard.text-center(data-container="body" data-toggle="popover" data-placement="top" data-content=ppl.bio data-trigger="hover")
          div.col-sm-12
            img.speakerPhoto(src=ppl.photo onerror="this.src='/img/default_user.png'")
          div.col-sm-12.lead #{ppl.speakerName}
          div.col-sm-12 #{ppl.tagLine}


  if feedbacks && feedbacks.length
    .col-xs-12.col-sm-8.col-md-6
      - var count=0
      - var rating=0.0
      h3 Feedback
      ul.list-group
        each feed in feedbacks
          li.list-group-item
            span.pull-right.lead #{feed.rating}/5
            div #{feed.feedback}
            div.grey.text-right By #{feed.emailId}
          if feed.rating
            - rating = rating + feed.rating
        li.list-group-item.text-center
          | Avg Rating: #{parseInt(rating/feedbacks.length)}
    
  script.
    $('.speakerCard').popover(); 
    
    