.div(id="header")
 .container
  
   div.col-xs-3.col-sm-2
    img.confLogo(src=conf.logo onerror='this.src="http://www.tothetrails.com/img/logoPlaceholder.jpg"')
   div.col-xs-9.col-sm-7
    h1 #{conf.title}
    div
      a(href="https://twitter.com/search?q=#{conf.shortCode}&src=typd" title="Twitter Result" target="_blank") ##{conf.shortCode}
     
  
   div.col-xs-12.col-sm-3.nospace-bottom.text-center
     br
     
     h3 #{moment(conf.startDate).format("MMM DD, YYYY")}
     div #{conf.venue}
     div #{conf.city},#{conf.state},#{conf.country}
     div
      -if(conf.website != 0)
       a(href='http://'+conf.website target="_blank")      
        i.fa.fa-home.fa-2x  
      |     
      -if(conf.venue || conf.city || conf.state || conf.country != 0)
       a(href="https://www.google.co.in/maps/?q=#{conf.venue}#{conf.city}#{conf.state}#{conf.country}", target="_blank")
        i.fa.fa-map-marker.fa-2x
      br
      br
        
br