extends layout
block vars
  if isCreate
      - title = 'Create Conference';
  else
      - title = 'Editing: ' + conf.title;

 
 
block content
    if isCreate
      h2.page-header Create a new conference
    else
      h2.page-header Update conference
    form.form-horizontal(role="form" name="create" method="post")
     input(type='hidden', name='_csrf', value=_csrf) 

     .form-group
       label.col-sm-3.control-label(for='title') Title:
       div.col-sm-9.col-md-6
         input.form-control(type="text",name="title" value=conf.title maxlength=100 placeholder="Mention Title of the Conference")

     .form-group
       label.col-sm-3.control-label(for='shortCode') Hashtag:
       div.col-sm-9.col-md-6
          div.input-group
            span.input-group-addon #
            input.form-control(type="text" name="shortCode" value=conf.shortCode  maxlength=25)
          small.grey Use this on social networks for sharing updates. Must be unique.

     .form-group
       label.col-sm-3.control-label(for='description') Description:      
       div.col-sm-9.col-md-6
          textarea.form-control(rows="4" cols="20" name="description"  maxlength=1000 placeholder="Describe Conference - Max Characters 1000") #{conf.description}

     .form-group
       label.col-sm-3.control-label(for='logo') Logo:      
       div.col-sm-9.col-md-6
          //input.form-control(type="file" name="logo")
          input.form-control(type="text" name="logo" value=conf.logo placeholder="Enter conference logo image URL")

     .form-group
       label.col-sm-3.control-label(for='venue') Venue: 
       div.col-sm-9.col-md-6	   
         textarea#venue.form-control(rows="2" cols="20" name="venue" maxlength=100 placeholder="Enter street address")
          | #{conf.venue}
 
     .form-group
       label.col-sm-3.control-label(for='city') City:      
       div.col-sm-9.col-md-6
        input.form-control(type="text" name="city" value=conf.city placeholder="In which city is it going to be held?")

     .form-group
       label.col-sm-3.control-label(for='state') State:      
       div.col-sm-9.col-md-6
        input.form-control(type="text" name="state" value=conf.state placeholder="In which state is it going to be held?")

     .form-group
       label.col-sm-3.control-label(for='country') Country:      
       div.col-sm-9.col-md-6
          input.form-control(type="text" name="country" value=conf.country placeholder="In which country is it going to be held?")	   

     //.form-group
       label.col-sm-3.control-label(for='latitude') Latitude:      
       div.col-sm-9.col-md-6
         input.form-control(type="text" name="latitude" value=conf.latitude placeholder="Enter latitude of venue")

     //.form-group
       label.col-sm-3.control-label(for='longitude') Longitude:
       div.col-sm-9.col-md-6
         input.form-control(type="text" name="longitude" value=conf.longitude placeholder="Enter latitude of venue")

     .form-group
       label.col-sm-3.control-label(for='website') Website:      
       div.col-sm-9.col-md-6
          input.form-control(type="text" name="website" value=conf.website placeholder="Enter URL of conference website")
          small.grey Official website of conference. Leave blank if not available.

     .form-group
       label.col-sm-3.control-label(for='email') Email:      
       div.col-sm-9.col-md-6
          input.form-control(type="text" name="email" value=conf.email maxlength=50)
          small.grey Contact email for queries and support.

     .form-group
       label.col-sm-3.control-label(for='phone Number') Phone No.:      
       div.col-sm-9.col-md-6
          input.form-control(type="text" name="phoneNo" placeholder="Enter Phone Number" value=conf.phoneNo)

     .form-group
       label.col-sm-3.control-label(for='startDate') Start Date:
       div.col-sm-9.col-md-6
        div#startTimePicker.input-group.date(data-date-format="DD MMM, YYYY")
            input#startDate.form-control(type="text" readonly)
            span.input-group-addon
              span.fa.fa-calendar
            input(type='hidden' name='startDateEpoch' value='') 

     .form-group
       label.col-sm-3.control-label(for='endDate') End Date:
       div.col-sm-9.col-md-6
        div#endTimePicker.input-group.date(data-date-format="DD MMM, YYYY")
            input#endDate.form-control(type="text" readonly)
            span.input-group-addon
              span.fa.fa-calendar
            input(type='hidden' name='endDateEpoch' value='') 

     .form-group
       div.col-sm-offset-3.col-sm-9
        if isCreate
          input(class="btn btn-success" type="submit" value="Create")
        else
          input(class="btn btn-success" type="submit" value="Save")

    script.
      $(function () {
        $('div.date').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            minDate: new Date(Date.now() - 24*3600000),
            minuteStepping: 1,
            pickTime: false
        });

        // initialize date controls
        $('#startTimePicker').on("dp.change",function (e) {
          $('input[name="startDateEpoch"]').val(e.date.valueOf());
        });
        $('#endTimePicker').on("dp.change",function (e) {
          $('input[name="endDateEpoch"]').val(e.date.valueOf());
        });
        if(#{+conf.startDate})
          $('#startTimePicker').data("DateTimePicker").setDate(moment(#{+conf.startDate}).format('DD MMM, YYYY'));
        else
          $('#startTimePicker').data("DateTimePicker").setDate(moment().add('days', 1).format('DD MMM, YYYY'));

        if(#{+conf.endDate})
          $('#endTimePicker').data("DateTimePicker").setDate(moment(#{+conf.endDate}).format('DD MMM, YYYY'));
        else
          $('#endTimePicker').data("DateTimePicker").setDate(moment().add('days', 3).format('DD MMM, YYYY'));

      });   
