extends layout

block vars
 - title ="Dashboard" ;

block head_css
  != css('home')

block content
  div.dashboard
    div.row
      each conf in conferences
        div.col-sm-6.col-md-6
          i(onClick='click1("'+conf.id+'");' id=''+conf.id).fa.fa-times
          div.card

            div.logo
                img(src=conf.logo)
            div.title(style='margin-top:20px')
                a(href='/conference/'+conf.id)  #{conf.title}
            div
              p.date.text-right #{conf.startDate}
              p.desc #{conf.description}
            div.venue.row
                .text-left.col-xs-6 #{conf.venue}			
                .text-right.col-xs-6 #{conf.state}
            div.venue.row
                .text-left.col-xs-6 #{conf.city}
                .text-right.col-xs-6 #{conf.country}	

  script.
    function click1(id1)
    {
      var r = confirm("Are you sure to delete conference?");
      if (r == true)
      {
        $.get("/delete/conference/"+id1);
        location.reload();
      }
    }
    
              
              

