extends layout
block vars
 
 - title = conf.title;

block conf_header
  include conference_header

block content
  div.row
    div
        - var i = conf.like.length

        i.fa.fa-thumbs-o-up.pull-right(style='color: #428bca') &nbsp;&nbsp#{i}
        if (attendy)
          div.col-sm-2(style='color: #428344') #{attendy} Attendy
      if(user && conf.creator === user.email)
        a.btn.btn-default.btn-sm.col-sm-2(href='/download/csv/' +conf.id title='Download Attendy List')
          i.fa.fa-cloud-download
          | Download Attendy List
        div.col-xs-11.col-sm-offset-4.col-sm-3.col-md-offset-5.text-right
          
          form.form-horizontal(role="form" name="deleteConf" method="post")
            input(type='hidden' name='_csrf' value=_csrf)
            .btn-group
              a.btn.btn-default.btn-sm(href='/edit/' + conf.id title='Edit this conference')
                i.fa.fa-pencil
                | Edit
              |   
              a.btn.btn-default.btn-sm(href='/create/'+ conf.id + '/agenda' title="Add a new talk")
                i.fa.fa-plus
                |  Add Talk
              button#delete.btn-sm.btn.btn-default(onCLick='return confirm("Are your sure to delete this conference?")')
                i.fa.fa-trash-o(title='Delete Conference')
            
  div.row
     div.col-xs-12.col-md-offset-1.col-md-10.text-center(style='font-size: 1.3em') #{conf.description}
     hr

    if(agendaList && agendaList.length != 0) 
      div.col-sm-6
        h3 Talks
        .row
          label.col-xs-4.col-sm-3.col-lg-2 Time  
          label.col-xs-8.col-sm-9.col-lg-10 Title    
        each agd in agendaList
          .row
            .col-xs-4.col-sm-3.col-lg-2 #{moment(agd.startTime).format("hh:mm a")}
            .col-xs-8.col-sm-9.col-lg-10
              a(href='/agenda/'+ agd.id) #{agd.title}
              div
                each ppl in peopleList
                  if(agd._id== ppl.agendaId)
                    i.fa.fa-user.grey
                    span #{ppl.speakerName}

    if(peopleList && peopleList.length)
      div.col-sm-6(style='border-left:1px solid #ddd')
        h3 People
        each ppl in peopleList
          .row
            .col-xs-4.col-sm-4.col-md-3
              img.speakerPhoto(src=ppl.photo onerror="this.src='/img/default_user.png'")
            .col-xs-6.col-sm-7.com-md-8
              h5
               b #{ppl.speakerName}
              h5 #{ppl.bio}
              h5 #{ppl.tagLine}