extends layout

block vars
 - title = query;

block head_css
  != css('home')

block content

  br
  div.row
    div.col-xs-offset-1.col-xs-10.col-md-offset-4.col-md-4
      form.form-horizontal(role="form" action="/search" method="get")
        .form-group
          div.col-xs-12.input-group
            input.form-control(type="text" name="q"  placeholder='Find conferences' value=query)
            span.input-group-btn
              button.btn.btn-info
                i.fa.fa-search 
  div.row
    div.col-xs-12.text-right #{conferences.length}
      if conferences.length == 1
        |  result 
      else
        |  results  
      |  found for 
      i #{query}
      | .
  include partials/conf-cards
  
  div.row
    +renderConferences(conferences)
    
