extends ../layout
block vars
 - title = 'Login';


block content
  form(method='POST')
    legend Sign In
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | Login
        a.btn.btn-link(href='/forgot') Forgot your password?
      hr
      a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
        i.fa.fa-google-plus
        | Sign in with Google
      //- a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
      //- a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
        i.fa.fa-twitter
        | Sign in with Twitter
      //- a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        i.fa.fa-github
        | Sign in with GitHub
      //- a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
        i.fa.fa-linkedin
        | Sign in with LinkedIn

